
html {
    font-size: 62.5%;

    @include respond(tab-land) {
        font-size: 56.25%;
    }
    // @include respond(phone-small) {
    //     font-size: 50%;
    // }

}

body {

    font-family: 'Karla', sans-serif;

}

.heading {
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    letter-spacing: -1px;
    line-height: .9;

    &--primary {
        font-size: 7.15rem;

        @include respond(tab-land) {
            font-size: 5.2rem;
        }
    }
    &--secondary {
        font-size: 5.6rem;
        color: var(--color-neutral-light-gray);
        line-height: 1;

        @include respond(tab-land) {
            font-size: 4rem;   
        }
    }
    &--tertiary {
        font-size: 2.82rem;
        transform: scaleY(.95);

        letter-spacing: -0.5px;

        @include respond(tab-land) {
            font-size: 2.4rem;   
        }
    }


    &--hero {
        color: var(--color-neutral-light-gray);
        margin-bottom: 2.8rem;
    }
    &--features {
        letter-spacing: -1px;
    }
    &--feature {
        margin-top: 3.7rem;

    }
    &--how-we-work  {
        margin-left: 8rem;
        @include respond(phone) {
            margin-left: 0;
        }
    }

}

.text {

    font-size: 1.6rem;
    color: var(--color-neutral-light-gray);
    line-height: 1.64;
    font-weight: 400;
    letter-spacing: 0px;
    opacity: .9;
    // backface-visibility: hidden;
    @include respond(tab-land) {
            
    }
    @include respond(phone) {
        line-height: 2;
    }

    &--hero {
        margin-bottom: 3rem;
    }
    &--feature {
        color: var(--color-neutral-grayish-violet);
        margin-top: 2.2rem;
    }



}

