:root {

    --color-primary-violet: hsl(256, 26%, 20%);
    --color-primary-blue: hsl(216, 30%, 68%);

    --color-neutral-dark-violet: hsl(270, 9%, 17%);
    --color-neutral-grayish-violet: hsl(273, 4%, 51%);
    --color-neutral-light-gray: hsl(0, 0%, 98%);
    
    --color-white: #FFF;
    --color-black: #000;

    --transition-primary: all .2s;




}