

.background {

    position: absolute;
    z-index: 100;
    &__hero {

        &--right {
            top: -8rem;
            right: 0;
        }
        &--left {
            bottom: -33.5rem;
        }
    }
    &__how-we-work {
        top: 0;
        right: 0;

    }

    &__footer {
        top: 0;
        left: 0;
    }

}