

.background {

    position: absolute;
    z-index: 100;


    &__hero {

        &--right {
            top: -8rem;
            right: 0;
            @include respond(tab-land) {
                width: 34rem;
            }
            @include respond(phone) {
                width: 14.6rem;
                top: auto;
                bottom: -20rem;
            }
        }
        &--left {
            bottom: -33.5rem;

            @include respond(tab-land) {
                width: 14rem;
                bottom: -14rem;
            }
            @include respond(phone) {
                bottom: 36rem;
                width: 20rem;
            }
        }
    }
    &__how-we-work {
        top: 0;
        right: 0;
        @include respond(tab-land) {
            width: 40rem;
        }
        @include respond(phone) {
            width: 20rem;
        }

    }

    &__footer {
        top: 0;
        left: 0;

        @include respond(tab-land) {
            width: 40rem;
        }
    }

    &__nav {

        left: 0;
        right: 0;
        bottom: 8rem;
    }

}