


.btn {
    display: block;
    font-size: 1.4rem;
    color: var(--color-primary-violet);
    padding: 1.14rem 2.5rem;
    border: 2px solid var(--color-primary-violet);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;

}