

.nav {
    @include DisplayFlex;

    @include respond(phone) {
        display: none;
    }

    &__list{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-right: 2.6rem;
    }
    &__item{
        font-size: 1.34rem;
        &:not(:last-child) {
            margin-right: 1.1rem;
        }
    }
    &__link{
        color: var(--color-neutral-grayish-violet);
        text-decoration: none;
        padding: .7rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
        transition: var(--transition-primary);
        &:hover {
            color: var(--color-primary-violet);
        }
    }
}

