

.nav {

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: baseline;

    
    &__list{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-right: 2rem;
    }
    &__item{
        font-size: 1.4rem;
        padding: 0 .6rem;
    }
    &__link{
        color: var(--color-neutral-grayish-violet);
        text-decoration: none;
        padding: .6rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }

}