

.nav {
    @include DisplayFlex;

    @include respond(tab-port) {
        display: none;

    }

    &__list{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-right: 2.6rem;
    }
    &__item{
        font-size: 1.34rem;
        &:not(:last-child) {
            margin-right: 1.1rem;
        }
    }
    &__link{
        color: var(--color-neutral-grayish-violet);
        text-decoration: none;
        padding: .7rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
        transition: var(--transition-primary);
        &:hover {
            color: var(--color-primary-violet);
        }
    }
}

.nav-mobile {
    display: none;
    position: relative;
    // top: -100vh;
    opacity: 0;
    transition: all .3s;


    @include respond(tab-port) {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        position: fixed;
        top: -120vh;
        height: 100vh;
        width: 100vw;
        z-index: 2000;
        background-color: var(--color-neutral-dark-violet);
        margin-top: -8rem;
        padding-top: 15rem;
    }

    &__list{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

    }
    &__item{
        margin-bottom: 5rem;
        &:not(:last-child) {

        }
    }
    &__link{
        color: var(--color-neutral-light-gray);
        font-size: 2.4rem;
        text-decoration: none;
        padding: 1rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1.2px;
        transition: var(--transition-primary);

    }
}

.mobile-open {

    display: flex;
    top: 8rem;
    opacity: 1;
}