

.hero {
    
    background-color: var(--color-primary-violet);
    position: relative;
    height: 60rem;

    @include respond(tab-land) {
        height: 50rem;
    }
    @include respond(tab-port) {
        height: fit-content;
        padding-bottom: 2rem;
    }
    @include respond(phone) {
        height: fit-content;
    }

    .container {
        @include DisplayFlex;
        align-items: flex-start;
        padding-top: 10.5rem;

        @include respond(tab-land) {
            padding-top: 7rem;
        }
        @include respond(phone) {
            flex-flow: column-reverse nowrap;
            padding-top: 0;
            width: 100%;
        }
    }

    &__content {
        width: 54rem;
        position: relative;
        z-index: 1000;
        @include respond(tab-land) {
            width: 50rem;
            padding-right: 2rem;
        }
        @include respond(phone) {
            width: 84%;
            margin: 0 auto;
            padding-right: 0;
            text-align: center;
            margin-top: 12rem;
            margin-bottom: 12rem;
        }

    }
    &__line {
        width: 15rem;
        height: 1px;
        background-color: var(--color-neutral-light-gray);
        display: block;
        margin-bottom: 6.3rem;

        @include respond(tab-land) {
            margin-bottom: 5rem;
            width: 10rem;
        }
        @include respond(phone) {
            display: none;
        }
    }
    &__text {}
    &__image-container {
        @include respond(phone) {
            width: 100%;
            position: relative;
            z-index: 1000;
        }

        
    }


}
