


.how-we-work {
    margin-top: 15.8rem;

    .container { 
        height: 25rem;
        background-color: var(--color-primary-violet);
        position: relative;
        @include DisplayFlex;
        overflow: hidden;
    }
}