


.how-we-work {

    margin-top: 15.8rem;

    .container {
        
        height: 25rem;
        background-color: var(--color-primary-violet);

        position: relative;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;

    }






}